<html>
<title>Login</title>
<body>
<h2>Login</h2>
<form method="post">
  Email:<br>
  <input type="text" name="email" placeholder="Enter email">
  <br>
  Password:<br>
  <input type="password" name="password" placeholder="Enter password">
  <br><br>
  <input type="submit" value="Login">
</form> 

<form action="/register" method="get">
  <input type="submit" value="Sign Up">
</form> 

</body>
</html>